/**************************** Basic parameters ****************************/
process.executor = 'pbspro'
process.queue = 'workq'

singularity.runOptions = ' --bind /hpcnfs/ '

process {
   withName: 'ascat_pyclone' {
      conda = 'PATH2/clonal_evolution/resources/envs/ascat_pyclone.yaml'
   }
}

params {

   // input output
   input                      = null
   output                     = null

   // references
   build                      = 'hg38' // hg19 or hg38
   fasta                      = '' // genome fasta file
   pipeline                   = 'dragen' // dragen, sarek and iontorrent available. 
   target                     = '' // target file, if whole genome, put a bed file with chromosome, start end (e.g. chr1 1 248956422)

   // Boilerplate options
   publish_dir_mode           = 'copy'
   email_on_fail              = null
   plaintext_email            = false
   monochrome_logs            = false
   hook_url                   = null
   help                       = false
   version                    = false
   validate_params            = true
   show_hidden_params         = false
   schema_ignore_params       = ''

   biomarkers_ascat_config     = "" // configuration file to run ascat using nf-core/sarek (https://nf-co.re/sarek). If not defined, it uses the one in resources/configs/ascat.sarek.config and, if WES, define the ASCAT files
   biomarkers_ascat_step       = "variant_calling" // step at which to start, default --variant_calling
}


/**************************** Profiles ****************************/
profiles {
    debug { process.beforeScript = 'echo $HOSTNAME' }
    conda {
        conda.enabled          = true
        charliecloud.enabled   = false
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        singularity.enabled    = false
    }
}


/**************************** Manifest ****************************************************/

manifest {
    name            = 'clonal_evolution'
    author          = """Yinxiu Zhan, Bastian Eichenberger"""
    homePage        = 'https://github.com/zhanyinx/clonal_evolution'
    description     = """Variant annotation pipeline."""
    mainScript      = 'main.nf'
    nextflowVersion = '!>=22.10.1'
    version         = '1.0.0'
}



/**************************** Tower ****************************************************/
tower {
  enabled = false
}